.image-tile {
  margin-bottom: 20px;
  padding: 10px;
}

.image-tile a img {
  margin-top: 5px;
  width: 100%;
}
.image-container {
  position: relative;
  display: inline-block;
}
.category-image-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.category-image-container {
  position: relative;
}

.image-tile-title {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  background-color: #ffffffe6;
  padding: 15px 50px 15px 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.image-tile-title .speedy-arrow-icon {
  color: #d2181f;
  position: absolute;
  right: 20px;
  margin: 0;
  display: inline-block;
}

.image-tile-title span {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  margin-left: 10px;
}
