.usp-bar-item-link{
    font-family: Verdana,sans-serif;
    font-weight: 800;
    color: #306;
    text-decoration: none;
    cursor: pointer;
}

.column-banner-item {
    padding-left: 10px;
    padding-right: 10px;
}

.img-width {
    width: 100%;
}