.usp-bar-item-link{
    font-family: Verdana,sans-serif;
    font-weight: 800;
    color: #306;
    text-decoration: none;
    cursor: pointer;
}

.wide-panner-container{
    margin-bottom: 15px;
}

.wide-panner-item{
    float: left;;
    width: 100%;
}
